<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 95%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>List</title>
</head>

<body>

    <h3>List Ong Information</h3>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>WhatsApp</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["whatsapp"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>

    <a href="/">Go back to home page</a>

</body>

</html>