<!DOCTYPE html>
<html>

<head>
    <title>Create ONG</title>
</head>

<body>
    <h2>ONG Information</h2>
    <form action="/saveong" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>WhatsApp</td>
                <td><input type="number" name="whatsapp"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>

</html>